.menu-lateral {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    background-color: oklch(0.985 0 0);
    border-right-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-right-style: solid;
    padding: 8px;
  }
  
  .conteudo-principal {
    margin-left: 250px;
    flex: 1;
    padding: 20px;
  }
  
  .nav-link {
    padding: 12px 20px;
  }
  
  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
  }

  .icone-menu {
    display: inline-flex;
  }

  .cabecalho-menu {
    padding-left: 8px;
    padding-right: 8px;
  }

  .navbarzinho-brand {
    color: oklab(0.145 0 0 / 0.7);
    font-size: 12px;
    font-family: system-ui;
    font-weight: 500;
    text-decoration: none;
  }

  .navIteem{
    font-size: 14px;
    font-family: system-ui;
    font-weight: 400;
  }

  .nav-item:hover{
    background-color: oklch(0.97 0 0);
    border-radius: 8px;
  }